body {
    section {
        article {
            background-color: #fff;
            padding: 90px;
            letter-spacing: 0.5px;
            line-height: 30px;
            font-size: 20px;
            color: black;
            text-align: center;
        }
    }
}